In [1]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.read_csv("C:\\Users\\Pranjal\\Desktop\\Ex_Files_Intro_Python_Rec_Systems\\Exercise Files\\01_02\\rating_final.csv")
cuisine = pd.read_csv("C:\\Users\\Pranjal\\Desktop\\Ex_Files_Intro_Python_Rec_Systems\\Exercise Files\\01_02\\chefmozcuisine.csv")

In [4]:
frame.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [5]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [ ]:
# Recommendation Based on Counting.
#To find the place that is most popular, we will do that by counting no of rating each place has gotten and converting that array to a dataframe.

In [11]:
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())

rating_count.sort_values('rating', ascending = 'False').head()

         rating
placeID
135011        3
132668        3
134975        3
132766        3
135016        3

Now, let's take the top five most often rated places and see if they have any similarities between the cuisines that they serve. To do that, we'll first make a data frame of the place IDs of the most often rated places, then we'll merge that data frame with the cuisine data frame. So let's create the data frame.

In [14]:
most_rated_places = pd.DataFrame([135011,132668,134975,132766,135016], index = np.arange(5), columns=['placeID'])

summary = pd.merge(most_rated_places, cuisine, on = 'placeID')

summary

#The output is the list of most popular cuisines in town and the cuisines that are served at each of them.

   placeID  Rcuisine
0   132668   Mexican
1   132766  Japanese

In [15]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object